/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0; }

ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px; }

a:-webkit-any-link {
  color: #5363db; }
  a:-webkit-any-link:active {
    color: #5363db; }

input {
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
  padding: 0px;
  border: none;
  border-color: initial;
  -o-border-image: initial;
  border-image: initial; }
  input:focus {
    outline-offset: 0px;
    outline: -webkit-focus-ring-color none 0px; }

select:focus {
  border: none;
  outline: -webkit-focus-ring-color none 0px; }

button {
  border: none; }
  button:focus {
    outline: -webkit-focus-ring-color none 0px; }

.container {
  max-width: 85.65%;
  margin-left: auto;
  margin-right: auto; }

.logo-container {
  position: absolute;
  display: inline-block;
  bottom: 2px;
  left: 39%;
  max-width: 70px;
  height: auto; }
  @media (min-width: 1024px) {
    .logo-container {
      position: static;
      display: inline-block;
      max-width: 70px;
      height: auto; } }

.header {
  background-color: white;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.15);
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: auto;
  z-index: 315; }
  @media (min-width: 1024px) {
    .header {
      max-height: 100px; } }

#nav .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 32px 20px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  @media (min-width: 1024px) {
    #nav .menu-icon {
      display: none; } }
  #nav .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    -webkit-transition: background .2s ease-out;
    -o-transition: background .2s ease-out;
    transition: background .2s ease-out;
    width: 18px; }
    #nav .menu-icon .navicon:before, #nav .menu-icon .navicon:after {
      background: #333;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      -webkit-transition: all .2s ease-out;
      -o-transition: all .2s ease-out;
      transition: all .2s ease-out;
      width: 100%; }
    #nav .menu-icon .navicon:before {
      top: 5px; }
    #nav .menu-icon .navicon:after {
      top: -5px; }

#nav .menu-btn {
  display: none; }
  #nav .menu-btn:checked ~ .logo-container {
    position: absolute;
    display: inline-block;
    bottom: 217px;
    left: 39%;
    max-width: 70px;
    height: auto; }
  #nav .menu-btn:checked ~ .main-menu {
    max-height: 240px; }
  #nav .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent; }
  #nav .menu-btn:checked ~ .menu-icon .navicon:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  #nav .menu-btn:checked ~ .menu-icon .navicon:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  #nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  #nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0; }

#nav .main-menu {
  font-size: 14px;
  font-family: "Open Sans Semibold";
  font-weight: bold;
  color: #5363db;
  list-style: none;
  overflow: hidden;
  clear: both;
  max-height: 0;
  -webkit-transition: max-height .2s ease-out;
  -o-transition: max-height .2s ease-out;
  transition: max-height .2s ease-out; }
  @media (min-width: 1024px) {
    #nav .main-menu {
      display: inline-block;
      margin-bottom: 15px;
      clear: none;
      max-height: none; } }
  @media (min-width: 1024px) {
    #nav .main-menu-left {
      margin-left: 13.15%;
      margin-right: 10.4%; } }
  #nav .main-menu-left li {
    float: none;
    z-index: 318; }
    @media (min-width: 1024px) {
      #nav .main-menu-left li {
        float: left;
        margin-right: 30px; } }
  @media (min-width: 1024px) {
    #nav .main-menu-right {
      margin-right: 13.15%;
      margin-left: 10.4%; } }
  #nav .main-menu-right li {
    float: none;
    z-index: 317; }
    @media (min-width: 1024px) {
      #nav .main-menu-right li {
        float: right;
        margin-left: 30px; } }
  #nav .main-menu a {
    display: block;
    text-align: left;
    text-decoration: none;
    line-height: 1.2;
    padding: 10px 10px; }
    #nav .main-menu a:hover {
      background-color: lightgray; }
    @media (min-width: 1024px) {
      #nav .main-menu a {
        display: inline-block;
        padding: 0px; } }

#nav .logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2px;
  font-size: 2em;
  z-index: 324; }
  @media (min-width: 1024px) {
    #nav .logo {
      display: inline-block;
      padding-top: 15px; } }
  #nav .logo-name {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 0px 0px;
    font-size: 14px;
    font-family: "Champagne & Limousines";
    color: #5363db;
    font-weight: bold;
    text-align: center;
    -webkit-transform: matrix(1.71411, 0, 0, 1.71411, 0, 0);
    -ms-transform: matrix(1.71411, 0, 0, 1.71411, 0, 0);
    transform: matrix(1.71411, 0, 0, 1.71411, 0, 0);
    z-index: 322; }
    @media (min-width: 1024px) {
      #nav .logo-name {
        padding-bottom: 15px; } }

.slider {
  position: relative;
  width: 100%;
  height: auto; }
  .slider::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #5363db;
    opacity: 0.8; }
  .slider img {
    display: block;
    max-width: 100%;
    height: auto;
    z-index: 281; }
  .slider-text {
    font-family: "Open Sans";
    font-size: 2.20vw;
    color: white;
    position: absolute;
    top: 37%;
    left: 53%;
    z-index: 283; }
  .slider-text-1 {
    font-family: "Freestyle Script";
    font-size: 1.85vw;
    color: white;
    position: absolute;
    top: 62%;
    left: 53%;
    z-index: 283; }
  .slider .rounded-form {
    border-radius: 20px;
    background-color: white;
    -webkit-box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.15);
    position: absolute;
    left: 440px;
    top: 155px;
    width: 210px;
    height: 285px;
    padding: 25px 10px 20px 15px;
    z-index: 288; }
    .slider .rounded-form-header {
      font-family: "Open Sans Semibold";
      font-size: 20px;
      color: #5363db; }
    .slider .rounded-form .round-input {
      border-radius: 8px;
      background-color: #f2f2f2;
      margin-top: 15px;
      padding: 10px 0px 10px 5px;
      color: #888888; }
      .slider .rounded-form .round-input::-webkit-input-placeholder {
        color: #888888;
        opacity: 1; }
      .slider .rounded-form .round-input:-ms-input-placeholder {
        color: #888888;
        opacity: 1; }
      .slider .rounded-form .round-input::-ms-input-placeholder {
        color: #888888;
        opacity: 1; }
      .slider .rounded-form .round-input::placeholder {
        color: #888888;
        opacity: 1; }
    .slider .rounded-form select {
      width: 175px;
      border-style: none; }
    .slider .rounded-form .block-submit {
      border-radius: 8px;
      background-color: #5b6ceb;
      -webkit-box-shadow: 2.121px 2.121px 5px 0px rgba(0, 0, 0, 0.15);
      box-shadow: 2.121px 2.121px 5px 0px rgba(0, 0, 0, 0.15);
      text-align: center;
      color: white;
      margin: 20px 10px;
      padding: 10px 0px;
      width: 100px;
      float: right; }
