//1920px - 320px res. range must be covered

//in em
$xl: 87.5em; // 4k and hi-res desktop
$lg: 60em; // 1080 and hi-res laptops
$med: 40em; // hi-res tablets and low-res laptops
$sm: 28em; // mobile and low-res tablets
$xs: 20em; // mobile only

//in px - converted from em res-s above, using a default pixel size of 16px
$xl-px: 1400px; // 4k and hi-res desktop
$lg-px: 960px; // 1080 and hi-res laptops
$med-px: 640px; // hi-res tablets and low-res laptops
$sm-px: 448px; // mobile and low-res tablets
$xs-px:320px;