//TODO: variables proper naming

//fonts
$logo-font: "Champagne & Limousines";
$menu-font: "Open Sans Semibold";
$main-header-font-1: "Open Sans";
$slider-font-2: "Freestyle Script";


//colors
$col-gutter: 15px;
$col-gutter-reset: 0px;

$main-background-color: rgb(255, 255, 255);

$menu-font-color: rgb(85,85,85);
$menu-hover-font-color: rgb(83, 99, 219);

$input-text-color: rgb(136,136,136);
$input-background-color: rgb(242, 242, 242);
$submit-background-color: rgb(91, 108, 235);

$img-filter-color: rgb(83, 99, 219);

$yoga-classes-header-2: rgb(119,119,119);
$yoga-classes-caption-body: rgb(85,85,85);
$yoga-classes-caption-footer:rgb(153,153,153);

$slideshow-buttons-color: rgb(215, 215, 215);




