//fonts
$logo-font: "Champagne & Limousines";
$menu-font: "Open Sans Semibold";
$slider-font-1: "Open Sans";
$slider-font-2: "Freestyle Script";


//colors
$main-background-color: rgb(255, 255, 255);
$input-background-color: rgb(242, 242, 242);
$submit-background-color: rgb(91, 108, 235);
$menu-font-color: rgb(83, 99, 219);
$slider-filter-color:rgb(83, 99, 219);
$input-text-color: #888888;
$yoga-classes-header-2: rgb(119,119,119);



