@import "./partials/variables";
@import "./partials/resolutions";
@import "./partials/mixins";
@import "./partials/grid";

//overriding default behaviour
* {
  box-sizing: border-box;
}

body {
  padding-top: 50px;
  @include responsive($tablet) {
    padding-top: 78px;
  }
  @include responsive($laptop) {
    padding-top: 100px;
  }
}

html, body {
  margin: 0;
}


ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

a:-webkit-any-link {
  color: $menu-font-color;
  &:active {
    color: $menu-hover-font-color;
  }
}

input {
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
  padding: 0px;
  border: none;
  border-color: initial;
  border-image: initial;
  &:focus {
    outline-offset: 0px;
    outline: -webkit-focus-ring-color none 0px;
  }
}
select{
  &:focus {
    border: none;
    outline: -webkit-focus-ring-color none 0px;
  }
}

button {
  border: none;
  &:focus {
    outline: -webkit-focus-ring-color none 0px;
  }
}

h5 {
  display: block;
  font-size: 0.83em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

///////////

.container {
  margin-left: auto;
  margin-right: auto;
}

.logo-container {
  max-width: 40px;
  margin: 5px 0px 5px 193px;
  @include responsive($tablet) {
    max-width: 60px;
    margin: 9px auto;
  }
  @include responsive($laptop) {
    max-width: 70px;
    margin: 14px auto;
  }
}

.header {
  background-color: $main-background-color;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  z-index: 315;
  @include responsive($tablet) {
    max-height: 80px;
  }
  @include responsive($laptop) {
    max-height: 100px;
  }
}

#nav {
  .menu-icon {
    cursor: pointer;
    display: inline-block;
    position: relative;
    float: right;
    padding: 24px;
    user-select: none;
    @include responsive($tablet) {
      display: none;
    }

    .navicon {
      background: #333;
      display: block;
      height: 2px;
      position: relative;
      transition: background .2s ease-out;
      width: 18px;
      &:before,
      &:after {
        background: #333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
      }
      &:before {
        top: 5px;
      }
      &:after {
        top: -5px;
      }
    }
  }

  .menu-btn {
    display: none;

    //TODO: find the way to access main-menu class
    &:checked ~ .main-menu {
        max-height: 240px;
    }
    &:checked ~ .menu-icon .navicon {
      background: transparent;
    }
    &:checked ~ .menu-icon .navicon:before {
      transform: rotate(-45deg);
    }
    &:checked ~ .menu-icon .navicon:after {
      transform: rotate(45deg);
    }
    &:checked ~ .menu-icon:not(.steps) .navicon:before,
    &:checked ~ .menu-icon:not(.steps) .navicon:after {
      top: 0;
    }
  }

  .main-menu {
    font-size: 14px;
    font-family: $menu-font;
    color: $menu-font-color;
    list-style: none;
    overflow: hidden;
    //styles for hamburger-menu appropriate behaviour
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    @include responsive($tablet) {
      margin-top: 32px;
      //styles for hamburger-menu appropriate behaviour
      clear: none;
      max-height: none;
    }
    @include responsive($laptop) {
      margin-top: 42px;
    }

    &-left {
      @include responsive($tablet) {
        float: right;
      }
    }
    &-right {
      @include responsive($tablet) {
        float: left;
      }
    }

    li {
      float: none;
      z-index: 318;
      @include responsive($tablet) {
        float: left;
      }
    }

    &-left li {
      @include responsive($tablet) {
        margin-left: 30px;
      }
    }
    &-right li {
      @include responsive($tablet) {
        margin-right: 30px;
      }
    }

    a {
      display: block;
      text-align: left;
      text-decoration: none;
      line-height: 1.2;
      padding: 10px 10px;
      &:hover {
        color: $menu-hover-font-color;
        padding-bottom: 5px;
        border-bottom: 1px solid $menu-hover-font-color;
      }
      @include responsive($tablet) {
        padding: 0px;
      }
    }
  }
  .logo {
    width: 100%;
    height: auto;
    margin-bottom: 1px;
    z-index: 324;
    @include responsive($tablet) {
      margin-bottom: 4px;
    }
    @include responsive($laptop) {
      margin-bottom: 8px;
    }

    &-name {
      display: block;
      font-size: 9px;
      font-family: $logo-font;
      text-align: center;
      color: $menu-hover-font-color;
      transform: matrix( 1.71410546396865,0,0,1.71410546396865,0,0);
      z-index: 322;
      @include responsive($tablet) {
        font-size: 12px;
      }
      @include responsive($laptop) {
        font-size: 15px;
      }
    }
  }
}

.slider {
  position: relative;
  background-image: url('../elements/slider-background-image.png');
  @include responsive-bg-image(320px, 118px);
  &::after {
    content:"";
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: $img-filter-color;
    opacity: 0.8;
  }

  &-slogan {
    font-family: $slider-font-1;
    font-size: 2.50vw; //in viewport width to make text responsive
    font-weight: bold;
    color: $main-background-color;
    position: relative;
    display: block;
    margin: 102px 0px 20px 6px;
    z-index: 283;
  }
  &-slogan-1 {
    font-family: $slider-font-2;
    font-size: 2.2vw;                  //in viewport width to make text responsive
    color: $main-background-color;
    position: relative;
    display: block;
    margin-left: 6px;
    z-index: 283;
  }

  .rounded-form {
    border-radius: 5px;
    background-color: $main-background-color;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    margin: 6px;
    padding: 5px;
    z-index: 288;
    @include responsive($mobile-M) {
      margin: 10px;
    }
    @include responsive($mobile-L) {
      margin: 14.5px;
    }
    @include responsive($tablet) {
      border-radius: 10px;
      padding: 10px;
      margin: 20px 0px 20px 30px;
    }
    @include responsive($laptop) {
      border-radius: 20px;
    }
    &-header {
      font-family: $menu-font;
      font-size: 3.5vw;
      color: $menu-hover-font-color;
      @include responsive($laptop) {
        font-size: 1.4vw;
      }
    }
    //TODO: refactor this to have proper layout on all screens
    #select {
      width: 99.5%;
      padding: 0%;
      @include responsive($mobile-M) {
        padding: 0.5% 0%;
        margin-bottom: 3%;
      }
      @include responsive($tablet) {
        width: 100%;
        padding: 3% 0% 3% 1%;
        border-radius: 6px;
        margin-top: 2%;
      }
      @include responsive($laptop) {
        width: 100%;
        padding: 5% 0% 5% 1%;
        margin-top: 5.5%;
        font-size: 13.33px;
      }
    }

    .round-input {
      border-radius: 4px;
      background-color: $input-background-color;
      border-style: none;
      color: $input-text-color;
      position: relative;
      width: 49%;
      margin-bottom: 1.5%;
      padding: 1%;
      &::placeholder {
        color: $input-text-color;
        opacity: 1;
      }
      @include responsive($mobile-M) {
        margin-top: 0.5%;
      }
      @include responsive($tablet) {
        border-radius: 6px;
        width: 100%;
        margin-top: 2%;
        padding: 3% 0% 3% 2.5%;
      }
      @include responsive($laptop) {
        border-radius: 8px;
        width: 100%;
        margin-top: 5.5%;
        padding: 5% 0% 5% 3.5%;
      }
    }

    .block-submit {
      border-radius: 4px;
      background-color: $submit-background-color;
      box-shadow: 2.121px 2.121px 5px 0px rgba(0, 0, 0, 0.15);
      color: $main-background-color;
      text-align: center;
      margin-bottom: 2%;
      padding: 1%;
      width: 99.5%;
      @include responsive($tablet) {
        border-radius: 6px;
        width: 100%;
        margin-top: 2%;
        padding: 3% 0% 3% 2.5%;
      }
      @include responsive($laptop) {
        float: right;
        border-radius: 8px;
        margin: 8% 0%;
        padding: 5% 0%;
        width: 50%;
      }
    }
  }
}

.yoga-classes {
  position: relative;
  &-header {
    display: block;
    font-family: $slider-font-1;
    font-weight: bold;
    font-size: 3.5vw; //2.19vw
    color: $submit-background-color;
    text-align: center;
  }
  &-header-1 {
    display: block;
    font-family: $slider-font-2;
    font-size: 5vw; //2.92vw
    color: $yoga-classes-header-2;
    text-align: center;
  }

  &-figure {
    //TBD
  }

  img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    @include responsive($tablet) {
      float: left;
      margin-right: 25px;
    }
  }

  figcaption {
    &::after {
      @include responsive($tablet) {
        content: "";
        clear: both;
        display: table;
      }
    }
  }

  .caption {
    font-family: $slider-font-1;
    color: $yoga-classes-caption-body;
    font-size: 13px;
    text-align: left;
    @include responsive($tablet) {
      font-size: 14px;
    }
    &-header {
      color: $yoga-classes-header-2;
      font-size: .83em;
      @include responsive($tablet) {
        padding: 3% 0% 1% 0%;
      }
    }
    &-footer {
      color: $yoga-classes-caption-footer;
      text-align: right;
      margin-bottom: 10%;
    }
  }
}

