@import "./partials/variables";
@import "./partials/resolutions";
@import "./partials/mixins";

//overriding default behaviour
body {
  margin: 0;
}

ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

input {
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
  padding: 0px;
  border: none;
  border-color: initial;
  border-image: initial;
  &:focus {
    outline-offset: 0px;
    outline: -webkit-focus-ring-color none 0px;
  }
}
select{
  &:focus {
    border: none;
    outline: -webkit-focus-ring-color none 0px;
  }
}

button {
  border: none;
  &:focus {
    outline: -webkit-focus-ring-color none 0px;
  }
}

///////////

//  TODO: add containers where they needed
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.logo-container {
  display: block;
  @include responsive($sm-w3c-px) {
    display: inline-block;
    max-width: 70px;
    height: auto;
  }
}

.header {
  background-color: $main-background-color;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.15);
  position: fixed;
  overflow: hidden;
  width: 100%;
  min-height: 6.25em; //100px
  z-index: 315;
}

#nav {
  .main-menu {
    box-sizing: border-box;
    font-size: 14px;
    font-family: $menu-font;
    font-weight: bold;
    color: $menu-font-color;
    list-style: none;
    @include responsive($sm-w3c-px) {
      display: inline-block;
      margin-bottom: 15px;
    }
    &-left {
      @include responsive($sm-w3c-px) {
        margin-left: 250px;
        margin-right: 50px;
      }

    }
    &-left li {
      float: none;
      z-index: 318;
      @include responsive($sm-w3c-px) {
        float: left;
        margin-right: 25px;
      }
    }

    &-right {
      @include responsive($sm-w3c-px) {
        margin-left: 50px;
      }

    }
    &-right li {
      float: none;
      z-index: 317;
      @include responsive($sm-w3c-px) {
        float: right;
        margin-left: 25px;
      }
    }

    a {
      display: block;
      text-align: center;
      text-decoration: none;
      line-height: 1.2;
      @include responsive($sm-w3c-px) {
        display: inline-block;
      }
    }
  }
  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1% 0% 1% 0%;
    font-size: 2em;
    z-index: 324;
    @include responsive($sm-w3c-px) {
      display: inline-block;
      padding: 15px 0px 0px 0px;
    }

    &-name {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding: 0% 0% 1% 0%;
      font-size: 14px;
      font-family: $logo-font;
      color: rgb(83, 99, 219);
      font-weight: bold;
      text-align: center;
      transform: matrix( 1.71410546396865,0,0,1.71410546396865,0,0);
      z-index: 322;
      @include responsive($sm-w3c-px) {
        position: relative;
        display: block;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
      }
    }
  }
}

.slider {
  position: relative;
  width: 100%;
  height: auto;

  &::after {
    content:"";
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: $slider-filter-color;
    opacity: 0.8;
    //z-index: 282;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
    z-index: 281;
  }

  &-text {
    font-family: $slider-font-1;
    font-size: 30px;
    color: $main-background-color;
    position: absolute;
    top: 185px;
    right: 340px;
    z-index: 283;
  }

  &-text-1 {
    font-family: $slider-font-2;
    font-size: 25px;
    color: $main-background-color;
    position: absolute;
    top: 305px;
    right: 470px;
    z-index: 283;
  }

  .rounded-form {
    border-radius: 20px;
    background-color: $main-background-color;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.15);
    position: absolute;
    left: 440px;
    top: 155px;
    width: 210px;
    height: 285px;
    box-sizing: border-box;
    padding: 25px 10px 20px 15px;
    z-index: 288;

    &-header {
      font-family: $menu-font;
      font-size: 20px;
      color: $menu-font-color;
    }

    .round-input {
      border-radius: 8px;
      background-color: rgb(242, 242, 242);
      margin-top: 15px;
      padding: 10px 0px 10px 5px;
      color: $input-text-color;
      &::placeholder {
        color: $input-text-color;
        opacity: 1;
      }
    }

    select {
      width: 175px;
      border-style: none;
    }

    .block-submit {
      border-radius: 8px;
      background-color: $submit-background-color;
      box-shadow: 2.121px 2.121px 5px 0px rgba(0, 0, 0, 0.15);
      text-align: center;
      color: $main-background-color;
      margin: 20px 10px;
      padding: 10px 0px;
      width: 100px;
      float: right;
    }
  }
}


